.btn-primary {
    min-width: fit-content;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    display: flex;

    background: transparent;
    border: none;
    border-bottom: 6px solid $night-blue;
    color: $night-blue;
    width: 260px;
    max-width: 280px;
    text-wrap: nowrap;
    padding: $spacer-2;
    cursor: pointer;

    transition: all 0.5s linear;

    &:hover {
        color: $sunset-red;
        border-bottom: 2px solid $sunset-red;
        transform: scaleX(1.05);
    }
}

.btn-secondary {
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.55rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: $egg-white;
    background-color: $black;
    border: none;
    transition: all 500ms linear;
    
    &:hover {
      background-color: $grey-90;
      transform: scale(0.9);
    }
    
    &:focus {
      outline: 1px dashed $sunset-red;
      outline-offset: 3px;
    }
}
