/* overrides carousel.css */
$icon-size: 2em;

.carousel {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    touch-action: pan-y;
    overscroll-behavior: none;
    height: 80%;
}

.carousel__viewport {
    overflow: hidden;
    height: 100%;
}

.carousel__track {
    height: 100%;
}

.carousel__icon {
    width: $icon-size;
    height: $icon-size;
}

.carousel__prev {
    left: -$icon-size;
}

.carousel__next {
    right: -$icon-size;
}