@use "sass:map";

// media-query
@mixin breakpoint-max-width($key) {
    $size: map-get($breakpoints, $key);
  
    @if ($size) {
    /* On screens that are $size or less */
      @media only screen and (max-width: $size) {
        @content;
      }
    } @else {
      @error '`#{$key}` does not exist in the $breakpoints';
    }
  }

  @mixin generate-grid($nbCol, $nbRow, $gap) {
    padding: $spacer-6 $spacer-8;
    display: grid;
    grid-template-columns: repeat($nbCol, 1fr);
    grid-template-rows: repeat($nbRow, 1fr);
    gap: $gap;
  }