@font-face {
    font-family: 'Montserrat';
    font-style: NORMAL;
    font-weight: 400;
    src: url('../../public/Font/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: NORMAL;
    font-weight: 700;
    src: url('../../public/Font/Montserrat-VariableFont_wght.ttf') format('truetype');
}