// imports
@import 'variables';
@import 'mixins';
@import 'typography';

// sections
@import '/assets/sections/section1';
@import '/assets/sections/section2';

// global styling
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

