.section1 {
    background-color: $egg-white;
    color: $grey-80;

    display: grid;
    grid-template-columns: 
        [section-start] 1fr
        [section-end];
    grid-template-rows: 
        [navbar-start section-start] $navbar-height 
        [navbar-end logo-start] 1fr
        [logo-end contentArea-start] 1fr
        [contentArea-end section-end];
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.video-banner {
    grid-area: section / section;
    justify-self: stretch;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;
    z-index: 0;

    @include breakpoint-max-width(s) {
        display: none;
    }
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacer-8;
    z-index: 1;
    color: $egg-white;

    grid-area: contentArea / section;
    justify-self: center;
    align-self: start;

    @include breakpoint-max-width(s) {
        color: $black;
    }

    & > .text {
        text-align: center;
    }
}