.section2 {
    background-color: $white;
    @include generate-grid(12, 8, 0px);
    grid-template-areas: 
    "col1-header col1-header col1-header col1-header col1-header col1-header gutter-header col2-header col2-header col2-header col2-header col2-header"
    "col1 col1 col1 col1 col1 col1 gutter col2 col2 col2 col2 col2"
    "col1 col1 col1 col1 col1 col1 gutter col2 col2 col2 col2 col2"
    "col1 col1 col1 col1 col1 col1 gutter col2 col2 col2 col2 col2"
    "col1 col1 col1 col1 col1 col1 gutter col2 col2 col2 col2 col2"
    "col1 col1 col1 col1 col1 col1 gutter col2 col2 col2 col2 col2"
    "col1 col1 col1 col1 col1 col1 gutter col2 col2 col2 col2 col2"
    "col1-footer col1-footer col1-footer col1-footer col1-footer col1-footer gutter-footer col2-footer col2-footer col2-footer col2-footer col2-footer"
    ; 

    @include breakpoint-max-width(md) {
        grid-template-areas: 
        "col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top"
        "col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top"
        "col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top"
        "col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top"
        "col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top"
        "col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top col1-top"
        "col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot"
        "col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot col1-bot"
        ; 
    }
 }

 .description {
    grid-area: col1;
    align-self: center;
    color: $olive-green;

    @include breakpoint-max-width(md) {
        grid-area: col1-top;
    }
 }

.description-content {
    text-align: justify;
    line-height: 1.4;
}

.banner{
    grid-area: col2;
    justify-self: stretch;
    align-self: stretch;

    display: grid;
    grid-template: subgrid / subgrid;

    @include breakpoint-max-width(md) {
        grid-area: col1-bot;
    }
}

.block {
    display: block;
    height: 100%;
    width: 100%;
    grid-column: 1 / span 5;
    grid-row: 1 / span 6;
    background: linear-gradient($olive-green, $salmon-red);
    background: linear-gradient(in lch, $olive-green, $salmon-red);

    @include breakpoint-max-width(md) {
        display: none;
    }
}

.btn {
    justify-self: center;
    grid-column: 1 / span 5;

    @include breakpoint-max-width(md) {
        grid-column: span 12;
    }

    &-therapist {
        grid-row: -3 / span 1;
        align-self: end;
    }

    &-retreats {
        grid-row: -1 / span 1;
        align-self: center;
    }
}

