.section3{
    position: relative;
    height: fit-content !important;
    background-color: $salmon-red;
}

.section3-wrapper {
    width: 100%;
    height: 100%;
    background-color: $salmon-red;
    overflow: hidden;
    color: $night-blue;
}